# Object files
*.o
*.ko
*.obj
*.elf

Debug/

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.list
*.map

.metadata/
.settings/
.dep/

*.lst
*.lss
*.sym

#tex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*-converted-to.*
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
